@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img {
    max-width: 100%;
}

.container {
    width: 92%;
    margin: 0 auto;
}

/* Site Colors */
.gold-bg {
    background-color: rgb(213, 150, 108);
}

.white {
    color: #ffffff;
}

.blackish-bg {
    background-color: rgb(21, 21, 21);
}

/* Font + Text Styles */

.big-shoulders {
    font-family: 'Big Shoulders Display', cursive;
}

.outfit {
    font-family: 'Outfit', sans-serif;
}

.fs-96 {
    font-size: 96px;
    line-height: 88px;
}

.fs-70 {
    font-size: 70px;
    line-height: 70px;
}

.fs-60 {
    font-size: 60px;
    line-height: 55px;
}

.fs-36 {
    font-size: 36px;
    line-height: 36px;
}

.fs-22 {
    font-size: 22px;
    line-height: 32px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
    line-height: 28px;
}

.uppercase {
    text-transform: uppercase;
}


/* Header */

.space {
    margin: .5em 0;
}

/* Button */

.btn {
    display: inline-flex;
    letter-spacing: 2.5px;
    margin: 2em 0;
  }
  
  .btn-location {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1.25em;
  }
  
  .btn-arrow {
    background-color: rgb(213, 150, 108);
    color: #ffffff;
    padding: 1.25em;
  }
  
  div:hover .btn-arrow {
    background-color: rgb(21, 21, 21);
    cursor: pointer;
  }
  
  div:hover .btn-location {
    background-color: rgb(213, 150, 108);
    cursor: pointer;
  }
