@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img {
    max-width: 100%;
}

.container {
    width: 92%;
    margin: 0 auto;
}

/* Site Colors */
.gold-bg {
    background-color: #d5966c;
}

.white {
    color: #ffffff;
}

.black-bg {
    background-color: #000000;
}

/* Font + Text Styles */

.big-shoulders {
    font-family: 'Big Shoulders Display', cursive;
}

.outfit {
    font-family: 'Outfit', sans-serif;
}

.fs-96 {
    font-size: 96px;
    line-height: 88px;
}

.fs-70 {
    font-size: 70px;
    line-height: 70px;
}

.fs-60 {
    font-size: 60px;
    line-height: 50px;
}

.fs-36 {
    font-size: 36px;
    line-height: 36px;
}

.fs-22 {
    font-size: 22px;
    line-height: 32px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
    line-height: 28px;
}

.uppercase {
    text-transform: uppercase;
}


/* Header */

.space {
    margin: .5em 0;
}

/* Button */

.btn__grid {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
        "Location Location Arrow";
}

#Location {
    grid-area: Location;
}

#Arrow {
    grid-area: Arrow;
}

.btn {
    padding: 2em;
}

.btn-location {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.btn-arrow {
    background-color: #d5966c;
    color: #ffffff;
}

article:hover #Arrow {
    background-color: #000000;
}

article:hover #Location {
    background-color: #d5966c;
}
